{% extends "base.html" %}

{% block title %}
<div class="container">
    <h1>{{ title }}</h1>
</div>
{% endblock %}

{% block project_info %}
<div class="container">
    <h4>Formularz ma na celu zebranie cennych danych do celów badawczych w ramach projektu magisterskiego.
        Twój udział w tym badaniu jest niezwykle ważny i pomoże w zgłębieniu tematu oraz uzyskaniu cennych wniosków.
        Celem jest porównanie trzech różnych metod w kontekście jakości konwersji barwy głosu oraz naturalności
        rozwiązań.
        Posłuchaj nagrań głosowych z wykorzystaniem oryginalnego głosu oraz przekonwertowanego.
        Oceń jakość tych nagrań, przypisując im odpowiednią wartość na skali od 1 do 5, gdzie 1 oznacza najniższą
        jakość, a 5 oznacza najwyższą jakość.
    </h4>
</div>
{% endblock %}

{% block content %}
<form method='POST'>
    {% for element in speaker_data %}
    <div class="container">
        {% for audio in samples %}
        <!-- <label for="audioPlayer">Konwersja</label> -->
        <audio id="audioPlayer" class='audio-control' controls>
            <source src={{url_for('static', filename='/' .join(['voice_data', element, audio]))}} type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        {% endfor %}
        <input type="number" id="score" name={{element}} min="1" max="5" required />
    </div>
    {% endfor %}
    <div class="container">
        <input type="submit" value="Wyślij odpowiedź" />
    </div>
</form>
{% endblock %}