.speaker_samples {
    width: 90%;
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}

.speaker_recording {
    margin-bottom: 15%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3f3f3;
    margin-bottom: 10px;
}

.audio-control {
    width: calc(20% - 10px);
    margin-right: 10px;
}